mark {
  background-color: rgb(77, 49, 255);
}

html {
  scroll-behavior: smooth;
}

.anchor {
  padding-top: 90px;
}

.navbar-default {
  z-index: 1030;
}

.blurple {
  background-color: #7289DA;
}

.gms-brand {
  background-color: #248AC5;
}

.steam-brand {
  background-color: #000;
}

.github-brand {
  background-color: #6e5494;
}

h1.title-role {
  font-size: 6vw;
}

.title-role {
  color: #E6E6E6;
}

.bg-gradient {
  background-image: linear-gradient(to right, rgb(142, 0, 237), rgb(5, 90, 237)) !important;
}

.white-dark-text {
  color: #EAEAEA;
}

.embed-responsive+.embed-responsive {
  margin-top: 20px;
}

.btn.downer .fa {
  margin-top: 0;
}

.progress div {
  background: linear-gradient(to right, rgb(142, 0, 237), rgb(5, 90, 237));
}

div:nth-child(even)>.job-role {
  border-image: linear-gradient(to bottom, rgb(142, 0, 237), rgb(5, 90, 237)) 1 100%;
}

div:nth-child(odd)>.job-role {
  border-image: linear-gradient(to top, rgb(142, 0, 237), rgb(5, 90, 237)) 1 100%;
}

.tooltip-inner {
  max-width: 320px !important;
}